<!DOCTYPE html>
<html lang="en">
    <head>
        <head>
            <meta charset="UTF-8">
            <title>Medilabo</title>
            <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
            <link rel="stylesheet" href="webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
        </head>
    </head>
    <body style="height: 80vh" class="container d-flex align-items-center justify-content-center">
        <div class="card w-75">
            <h2 class="card-header bg-danger-subtle">500</h2>
            <div class="card-body">
                <p>Opps! Internal Server Error!</p>
                <p>Unfortunately we're having trouble loading the page you are looking for. Please come back in a while.</p>
            </div>
        </div>
    </body>
</html>